
target/

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.wst.common.component

.project

.classpath

*.svn-base
*.svn*
*.DS_Store
.DS_Store

